<!DOCTYPE html>
<div class="modal fade" id="message">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
				<span class="glyphicon glyphicon-ok-sign" style="font-size:400px;color:	#66ff33;"></span>
				</div>
				<div class="text-center welcome">
				</div>
			</div>
		</div>
	</div>
</div>