<!DOCTYPE html>
<html>
<head>
	<% include layout/head %>
</head>
<body>
	<div class="header-banner head-top" id="head"></div>
	
	<% include layout/header %>
	
	<div class="content">
		<div class="event-section1">
			<div class="container">
				<h3>upcomeing events</h3>
				<div class="event-grids">
					<div class="col-md-6 eventleft-grid even  wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<div class="event-grid1">
							<img src="images/img5.jpg" class="img-responsive wal" alt="" />
							<div class="event-inform">
								<div class="event-info2">
									<h4>October</h4>
									<h5>09</h5>
								</div>
								<div class="event-info3">
									<p>Mullam convallis justo a vestibulum interdum ipsum mauris lobortis urna</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="event-grid2">
							<img src="images/img6.jpg" class="img-responsive" alt="" />
							<div class="event-inform">
								<div class="event-info2">
									<h4>January</h4>
									<h5>19</h5>
								</div>
								<div class="event-info3">
									<p>Aenean ac leo eget nunc fringilla a non nulla nunc orci mi venenatis quis</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="event-grid3">
							<img src="images/img7.jpg" class="img-responsive " alt="" />
							<div class="event-inform">
								<div class="event-info2">
								 <h4>june</h4>
									<h5>29</h5>
								</div>
								<div class="event-info3">
									<p>Mullam convallis justo a vestibulum interdum ipsum mauris lobortis urna</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6 eventright-grid  wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<div class="event-grid1">
							<img src="images/img8.jpg" class="img-responsive" alt="" />
							<div class="event-inform">
								<div class="event-info2">
									<h4>October</h4>
									<h5>29</h5>
								</div>
								<div class="event-info3">
									<p>Proin eu purus sapien eu accumsan dolor unc iaculis ligula eget massa </p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="event-grid2">
							<img src="images/img9.jpg" class="img-responsive" alt="" />
							<div class="event-inform">
								<div class="event-info2">
									<h4>august</h4>
									<h5>19</h5>
								</div>
								<div class="event-info3">
									<p>Felis augue dignissim in tempus eget cursus sit amet sem cras vehicula</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="event-grid3">
							<img src="images/img10.jpg" class="img-responsive" alt="" />
							<div class="event-inform">
								<div class="event-info2">
									<h4>september</h4>
									<h5>09</h5>
								</div>
								<div class="event-info3">
									<p>Convallis justo a vestibulum interdum ipsum mauris lobortis urna in fringilla </p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>		
	</div>
	<% include layout/footer %>
</body>
</html>