<!DOCTYPE html>
<html>
<head>
	<% include layout/head %>
</head>
<body>
	<div class="header-banner" id="head"></div>
	<!-- Slider -->
	<div class="slider">
		<div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li>
				<img src="images/slider1.jpg" alt="">
	        </li>
			<li>
				<img src="images/slider2.png" alt="">
				<div class="caption wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<div class="logo">
						<a href="/">Ricemee</a>
					</div>
					<h3></h3>
				</div>
	        </li>
			<li>
				<img src="images/slider3.png" alt="">
	        </li>
	      </ul>
	  </div>
	</div>
	<!-- End of Slider -->
	
	<!-- Nav Bar -->
	<% include layout/header %>
	<!-- End of Nav Bar -->
		
	
	<div class="content">
		<!-- About Us	 -->
		<% include layout/aboutus %>
		<!-- End of About Us -->
		
		<!-- Most Popular -->
		<% include layout/mostpopular %>
		<!-- End of Most Popular -->
		
		
		
		<!-- Block 1 
		<div class="service-section" id="service">
			<div class="container">
				<h2>RECEIVE GREAT FOOD AND HIGH QUALITY SERVICE</h2>
				<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
				<a href="#" class="button1">learn more</a>
			</div>
		</div>-->
		<!-- End of Block 1 -->
		<!-- Block 2	
		<div class="video">
			<iframe src="https://player.vimeo.com/video/33132310" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
		</div> -->
		<!-- <div class="video">
			<video height="100%" controls>
				<source src="images/3AF_GHEmLBNfWK_SigD3m-4X.mp4" type="video/mp4">
			</video>
		</div> -->
		<!-- End of Block 2 -->
		<!-- Block 4 
		<div class="menu-section">
			<div class="container">
				<h3> featured menu</h3>
				<div class="menu-grids wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<div class="col-md-3 menu-grid">
						<img src="images/p4.jpg" class="img-responsive" alt="" />
						<div class="menu-info">
							<h4>$04.<sup>99</sup></h4>
							<h5>CUM SOCIIS NATOQUE .</h5>
						</div>
					</div>
					<div class="col-md-3 menu-grid ">
						<img src="images/p5.jpg" class="img-responsive" alt="" />
						<div class="menu-info">
							<h4>$05.<sup>99</sup></h4>
							<h5>Lorem ipsum dolo .</h5>
						</div>
					</div>
					<div class="col-md-3 menu-grid menu1 ">
						<img src="images/p6.jpg" class="img-responsive" alt="" />
						<div class="menu-info">
							<h4>$09.<sup>99</sup></h4>
							<h5>CUM SOCIIS NATOQUE .</h5>
						</div>
					</div>
					<div class="col-md-3 menu-grid menu1">
						<img src="images/p7.jpg" class="img-responsive" alt="" />
						<div class="menu-info">
							<h4>$19.<sup>99</sup></h4>
							<h5>Lorem ipsum dolo .</h5>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>-->
		<!-- End of Block 4 -->
		<!-- Block 3	 
		<div class="about-section" id="about">
			<div class="container">
				<h3>about us </h3>
				<div class="main wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;"> 
					<div class="view view-fourth ">
						<img src="images/p1.jpg" />
						<div class="mask">
							<h2>Break Fast</h2>
							<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
						</div>
					</div>
					<div class="view view-fourth">
						<img src="images/p2.jpg" />
						<div class="mask">
							<h2>Lunch</h2>
							<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
						</div>
					</div>
					<div class="view view-fourth">
						<img src="images/p3.jpg" />
						<div class="mask">
							<h2>Desserts</h2>
							<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>-->
		<!-- End of Block 3 -->
		<!-- Block 5 
		<div class="events-section">
			<div class="container">
				<h3>our events</h3>
				<div class="event-grids  wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<div class="col-md-6 event-left">
						<div class="even-info">
						<div class="icon">
							<img src="images/icon1.png" class="img-responsive" alt="" />
						</div>
						<div class="event-info">
							<h4>dolor sit amet conse cterut </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, sem eget sagittis sagittis, nisl magna sodales eros, ut feugiat velit velit non turpis. Cras eu nibh dapibus justo fringilla </p>
						</div>
						<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-6 event-right">
						<div class="even-info1">
							<div class="icon1">
								<img src="images/icon2.png" class="img-responsive" alt="" />
							</div>
							<div class="event-info1">
								<h4>consectetur adipiscing elit </h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, sem eget sagittis sagittis, nisl magna sodales eros, ut feugiat velit velit non turpis. Cras eu nibh dapibus justo fringilla </p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="butt">
				<a href="event.html" class="button2">veiw all events</a>
				</div>
			</div>
		</div>-->
		<!-- End of Block 5 -->
		<!-- Block 6 -->
		<div class="test-section" id="tests">
			<div class="container">
				<h3>最新动态</h3>
				<div class="test-grids ">
					<div class="test-grid1 wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<div class="col-md-5 test-left test1">
							<img src="images/business-01.jpg" class="img-responsive" alt="" />
							<div class="textbox">
							</div>
						</div>
						<div class="col-md-7 test-right">
							<h4>什么是牛咖</h4>
							<p>我们定义的牛咖，是指在某一领域有专长的人，并且这样的人具有独特的人格魅力，乐于社交，渴望更大的舞台，以下的例子就是硅谷的典型牛咖：
                                  成功的风险投资人，在圈内很有名气；
								  硅谷富有梦想的成功创业者 </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="test-grid2 wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<div class="col-md-7 test-left01">
							<h4>讲座：沈赐恩</h4>
							<p>相信你也可以改变世界——我的硅谷创业历程与感悟暨浙江大学MBA研究生企业导师聘任仪式</p>
						</div>
						<div class="col-md-5 test-right01 test1">
							<img src="images/20140526133457_84715.jpg" class="img-responsive" alt="" />
							<div class="textbox textbox1">
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="test-grid3 wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
						<div class="col-md-5 test-left test1">
							<img src="images/00221917a33e0fe5289201.jpg" class="img-responsive" alt="" />
							<div class="textbox">
							</div>
						</div>
						<div class="col-md-7 test-right">
							<h4>最新活动</h4>
							<p>你想了解科技产业的深度孵化吗？你想探索大健康领域的黑科技吗？你想寻找硅谷最具潜力的机会吗？你想结交创投圈的最靠谱伙伴吗？来沈赐恩博士的阳光别墅投资酒会！一次与硅谷牛咖们相识结交的机会！一次亲近自然、别墅举杯的享受！一次放松心灵，畅聊未来的聚会！几杯小酌，把酒言欢，好友欢聚，人生几何？
</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- End of Block 6 -->
		<!-- Block 7 -->
		<div class="google" id="location">
			<iframe src="https://www.google.com/maps/embed/v1/place?q=1122+whirlow+PL+San+Jose&key=AIzaSyC7Q29YkodZB6Wcjb6TXIFJaaJJ--MQ_nM"> </iframe>
		</div>
		<!-- End of Block 7 -->
		<div class="contact-section" id="contactus">
			<div class="container">
				<h3>contact us</h3>
				<div class="contact-grids wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">">
					<div class="col-md-4 contactgrid">
						<input type="text" class="text" value=" name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = ' name';}">
					</div>
					<div class="col-md-4 contactgrid">
						<input type="text" class="text" value="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'email';}">
					</div>
					<div class="col-md-3 contactgrid">
						<input type="text" class="text" value="phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'phone';}">
					</div>
					<div class="col-md-8 contactgrid1">
						<textarea onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Your Message</textarea>
					</div>
					<div class="col-md-4 contactgrid2">
						<input type="button" value="send message">
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- End of Block 7 -->
	</div>
	<% include layout/footer %>

</body>
</html>