<!DOCTYPE html>
<html>
<head>
	<% include layout/head %>
</head>
<body>
	<div class="header-banner head-top" id="head"></div>
	<% include layout/header %>
	<div class="content">
		<div class="menu-section1">
			<div class="container">
				<h3> featured menu</h3>
				<div class="menu-grids wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<div class="top-menu">
						<div class="col-md-3 menu-grid">
							<img src="images/p4.jpg" class="img-responsive" alt="" />
							<div class="menu-info">
								<h4>$04.<sup>99</sup></h4>
								<h5>CUM SOCIIS NATOQUE .</h5>
							</div>
						</div>
						<div class="col-md-3 menu-grid">
							<img src="images/p5.jpg" class="img-responsive" alt="" />
							<div class="menu-info">
								<h4>$05.<sup>99</sup></h4>
								<h5>Lorem ipsum dolo .</h5>
							</div>
						</div>
						<div class="col-md-3 menu-grid menu1 ">
							<img src="images/p6.jpg" class="img-responsive" alt="" />
							<div class="menu-info">
								<h4>$06.<sup>99</sup></h4>
								<h5>CUM SOCIIS NATOQUE .</h5>
							</div>
						</div>
						<div class="col-md-3 menu-grid menu1 ">
							<img src="images/p7.jpg" class="img-responsive" alt="" />
							<div class="menu-info">
								<h4>$07.<sup>99</sup></h4>
								<h5>Lorem ipsum dolo .</h5>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bottom-menu">
						<div class="col-md-3 menu-grid">
							<img src="images/img1.jpg" class="img-responsive" alt="" />
							<div class="menu-info">
								<h4>$04.<sup>99</sup></h4>
								<h5>CUM SOCIIS NATOQUE .</h5>
							</div>
						</div>
						<div class="col-md-3 menu-grid">
							<img src="images/img2.jpg" class="img-responsive" alt="" />
							<div class="menu-info">
								<h4>$09.<sup>99</sup></h4>
								<h5>Lorem ipsum dolo .</h5>
							</div>
						</div>
						<div class="col-md-3 menu-grid menu1 ">
							<img src="images/img3.jpg" class="img-responsive" alt="" />
							<div class="menu-info">
								<h4>$19.<sup>99</sup></h4>
								<h5>CUM SOCIIS NATOQUE .</h5>
							</div>
						</div>
						<div class="col-md-3 menu-grid menu1 ">
							<img src="images/img4.jpg" class="img-responsive" alt="" />
							<div class="menu-info">
								<h4>$29.<sup>99</sup></h4>
								<h5>Lorem ipsum dolo .</h5>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<% include layout/footer %>
</body>
</html>