<div class="footer_bg"><!-- start footer -->
<div class="container">
	<div class="footer">
		<div class="col-md-4 footer1_of_3">
			<div class="f_logo">
				<a href="/"><img src="images/C4.png" alt=""/></a>
			</div>		
			<p class="f_para">{here is the description about our preject group}</p>
			<p>Phone:&nbsp;<span>(000) 000-0000</span></p>
			<span class="">Email:&nbsp;<a href="mailto:info@mycompany.com">ricemee@ricemee.com</a></span>
		</div>
		<div class="col-md-2 footer1_of_3">
			<h4>company</h4>
			<ul class="list-unstyled f_list">
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
			</ul>
		</div>
		<div class="col-md-2 footer1_of_3">
			<h4>community</h4>
			<ul class="list-unstyled f_list">
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
				<li><a href="#">{fill the link}</a></li>
			</ul>
		</div>
		<div class="col-md-4 footer_of_3">
			<h4>Other<span>News</span></h4>
			<div class="blog_list">
				<div class="col-md-3 f_pic">
					<a href="#"><img src="images/blog_pic1.jpg" alt="" class="img-responsive"/></a>	
				</div>
				<div class="col-md-9 f_text">
					<a href="#"><p>{Description of this event/post.}</p></a>
					<span>26, may 2014</span>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="blog_list">
				<div class="col-md-3 f_pic">
					<a href="#"><img src="images/blog_pic2.jpg" alt="" class="img-responsive"/></a>
				</div>
				<div class="col-md-9 f_text">
					<a href="#"><p>{Description of this event/post.}</p></a>
					<span>17, June 2014</span>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
</div>
<div class="footer1_bg"><!-- start footer1 -->
<div class="container">
	<div class="footer1">
		<div class="copy pull-left">
			<p class="link">Copyright &copy; 2016.Ricemee All rights reserved.</p>
		</div>
		<div class="soc_icons pull-right">
			<ul class="list-unstyled text-center">
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-rss"></i></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
</div>